section.home-collection-main-content{
  padding: 50px 0px;
  .home-collection-title{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  ul{
    display: flex;

    li{
      padding: 0px 5px;
      a{
        color: #777;
        font-size: 0.8em;
        &:hover{
          color: $red;
        }
      }
    }//li

  }

  a.view-all{
    display: block;
    margin-top: 20px;
    color: #777;
    font-weight: 600;
    &:hover{
      color: $red;
    }
  }
}
