footer.footer
  .container
    .row
      .col-md-12.col-lg-4
        .information-contact
          h4 THÔNG TIN LIÊN HỆ
          p.mb-4 Kênh Cưới là một website tổng hợp thông tin tiếng Việt hoàn toàn được điều khiển tự động bởi máy tính. Mỗi ngày gần 6500 tin tức từ gần 200 nguồn chính thức của các báo điện tử và trang tin điện tử Việt Nam.
          i.fa.fa-map-marker: span 747 Lạc Long Quân, P.10, Quận Tân Bình, TP.HCM
          i.fa.fa-home: span Tòa nhà Prime, 37 Hoàng Văn Thụ, P.15, Quận Phú Nhuận, TP.HCM
          i.fa.fa-phone: span kenhcuoi.vn@gmail.com
          i.fa.fa-envelope-open: span  0906.495.200 - 0904.509.550
          
      .col-md-12.col-lg-4        
        .service.mt-4
          h4 DỊCH VỤ
          ul.ul-unstyle
            li
              i.fa.fa-angle-double-right.mr-1
              a(href="#")  Đăng ký quảng cáo banner
            li
              i.fa.fa-angle-double-right.mr-1
              a(href="#")  Dịch vụ quảng cáo bài PR
            li
              i.fa.fa-angle-double-right.mr-1
              a(href="#")  Dịch vụ quảng cáo nhà tài trợ
              
        .social 
          h4 KẾT NỐI VỚI CHÚNG TÔI
          a(href="#"): i.fa.fa-facebook
          a(href="#"): i.fa.fa-twitter
          a(href="#"): i.fa.fa-google-plus
          a(href="#"): i.fa.fa-envelope
      
              
      .col-md-12.col-lg-4.mt-5      
        h4 INSTAGRAM
        .img-wrap
          img(src="assets/img/home-1/footer_1.png", alt="")
          img(src="assets/img/home-1/footer_2.png", alt="")
          img(src="assets/img/home-1/footer_3.png", alt="")
          img(src="assets/img/home-1/footer_4.png", alt="")
          img(src="assets/img/home-1/footer_5.png", alt="")
          img(src="assets/img/home-1/footer_6.png", alt="")
          img(src="assets/img/home-1/footer_7.png", alt="")
          img(src="assets/img/home-1/footer_8.png", alt="")
          img(src="assets/img/home-1/footer_9.png", alt="")
  
    .footer-coyright   
      .row
        .col-md-6
          p © Copyright 2017 Kênh cưới by Eplus.
        .col-md-6      
          ul.ul-unstyle
            li: a(href="#").text-uppercase giới thiệu
            li: a(href="#").text-uppercase  liên hệ
            li: a(href="#").text-uppercase  điều khoản sử dụng
            li: a(href="#").text-uppercase  câu hỏi thường gặp
            
                
