header.header.fixed-top
  
  section.header-info
    .container
      .row
        .col-lg-6.col-md-12
          .info-phone
            p LIÊN HỆ QUẢNG CÁO : 0906034322 - 2145439229
        .col-lg-6.col-md-12
          .info-login
            a(href="#") ĐĂNG KÝ NHÀ CUNG CẤP
            a(href="#") ĐĂNG KÝ
            a(href="login.html") ĐĂNG NHẬP
            form#search-form.ml-2
              input(type='search', placeholder='Search')
    
  section.header-banner    
    .container
      .row.justify-content-end
        .col-lg-5
          .banner-wrap
            #clock 
            a(href="#").text-uppercase.btn-register đăng kí nhận vé mời
            
  section.menu-nav
    .container
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        |   
        a.navbar-brand.abs-center-x(href='index.html')
          img.base-logo(src="assets/img/home-1/base_logo_2.svg", alt="")
          img.small-logo(src="assets/img/home-1/logo.png", alt="")
          
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        |   
        
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.navbar-nav-left
            li.nav-item.active
              a.nav-link(href='index.html')
                | trang chủ 
                span.sr-only (current)
            |       
            li.nav-item
              a.nav-link(href='service.html') dịch vụ
            |       
            li.nav-item
              a.nav-link(href='index.html') khuyến mãi
                
            li.nav-item
              a.nav-link(href='home-video.html') video  
            
          
          ul.navbar-nav.ml-auto.navbar-nav-right

            li.nav-item
              a.nav-link(href='service.html') ý tưởng
            |       
            li.nav-item
              a.nav-link(href='home-video.html') bộ sưu tập
              
            li.nav-item
              a.nav-link(href='login.html') cộng đồng 
      .mmenu    
        nav#my-menu
          ul
            li.Selected
              a.text-uppercase(href='index.html') trang chủ
            li
              a.text-uppercase(href='service.html') dịch vụ
            li
              a.text-uppercase(href='#') khuyến mãi
              
            li
              a.text-uppercase(href='home-video.html') video
              
            li
              a.text-uppercase(href='#') ý tưởng
              
            li
              a.text-uppercase(href='#') bộ sưu tập
            li
              a.text-uppercase(href='#') cộng đồng
        
        a.hamburger.hamburger--collapse(href="#my-menu")    
          span.hamburger-box
            span.hamburger-inner     

    
                      

          
         
