section.home-sales
  .container
    .row
      .col-lg-3.col-md-3.col-sm-6.col-6
        .sale-box
          a(href="#"): img(src="assets/img/home-1/sale_1.png", alt="")
      .col-lg-3.col-md-3.col-sm-6.col-6
        .sale-box
          a(href="#"): img(src="assets/img/home-1/sale_2.png", alt="")
      .col-lg-3.col-md-3.col-sm-6.col-6
        .sale-box
          a(href="#"): img(src="assets/img/home-1/sale_3.png", alt="")
      .col-lg-3.col-md-3.col-sm-6.col-6
        .sale-box
          a(href="#"): img(src="assets/img/home-1/sale_4.png", alt="")
    
