section.home-subscribe
  .container
    .home-subscribe-wrap
      .row
        .col-lg-6.col-md-12
          h4.mb-1 ĐĂNG KÝ NHẬN TIN
          p.red-color ĐỂ ĐƯỢC NHẬN TIN TỪ KÊNH CƯỚI SỚM NHẤT
        .col-lg-6.col-md-12  
          form
            .form-group
              input.form-control(type="text", placeholder="Nhập email của bạn..")
              button.btn.btn-outline-light.btn-lg.text-uppercase.btn-search.ml-3(type='submit') 
                | đăng kí
