section.home-service
  h4.red-color.mb-4 DỊCH VỤ CƯỚI
  .row
    .col-lg-3.col-6.col-sm-4
      a(href="#")
        .home-service-wrap
          .home-service-img
            img.main-img(src="assets/img/home-1/service_1.png", alt="")
            .img-overlay  
              p.red-color.mt-5 HOA CƯỚI
            
        
          img.circle(src="assets/img/home-1/circle-lace.png", alt="")
          img.logo.hoacuoi(src="assets/img/home-1/hoacuoi.svg", alt="")  
          
    .col-lg-3.col-6.col-sm-4
      a(href="#")
        .home-service-wrap
          .home-service-img
            img.main-img(src="assets/img/home-1/service_2.png", alt="")
            .img-overlay  
              p.red-color.mt-5.text-uppercase nhà hàng tiệc cưới
        
          img.circle(src="assets/img/home-1/circle-lace.png", alt="")
          img.logo(src="assets/img/home-1/nhahangtieccuoi.svg", alt="")  
          
          
    .col-lg-3.col-6.col-sm-4
      a(href="#")
        .home-service-wrap
          .home-service-img
            img.main-img(src="assets/img/home-1/service_3.png", alt="")
            .img-overlay  
              p.red-color.mt-5 QUÀ CƯỚI
        
          img.circle(src="assets/img/home-1/circle-lace.png", alt="")
          img.logo(src="assets/img/home-1/quacuoi.svg", alt="")  
          
    .col-lg-3.col-6.col-sm-4
      a(href="#")
        .home-service-wrap
          .home-service-img
            img.main-img(src="assets/img/home-1/service_4.png", alt="")
            .img-overlay  
              p.red-color.mt-5 STUDIO ẢNH CƯỚI
        
          img.circle(src="assets/img/home-1/circle-lace.png", alt="")
          img.logo(src="assets/img/home-1/studio.svg", alt="")  
          
    
    .col-lg-3.col-6.col-sm-4
      a(href="#")
        .home-service-wrap
          .home-service-img
            img.main-img(src="assets/img/home-1/service_5.png", alt="")
            .img-overlay  
              p.red-color.mt-5 THIỆP CƯỚI
        
          img.circle(src="assets/img/home-1/circle-lace.png", alt="")
          img.logo(src="assets/img/home-1/thiepcuoi.svg", alt="")  
          
    .col-lg-3.col-6.col-sm-4
      a(href="#")
        .home-service-wrap
          .home-service-img
            img.main-img(src="assets/img/home-1/service_6.png", alt="")
            .img-overlay  
              p.red-color.mt-5 TRĂNG MẬT
        
          img.circle(src="assets/img/home-1/circle-lace.png", alt="")
          img.logo(src="assets/img/home-1/hoacuoi.svg", alt="")  
          
    .col-lg-3.col-6.col-sm-4
      a(href="#")
        .home-service-wrap
          .home-service-img
            img.main-img(src="assets/img/home-1/service_7.png", alt="")
            .img-overlay  
              p.red-color.mt-5 TRANG SỨC CƯỚI
        
          img.circle(src="assets/img/home-1/circle-lace.png", alt="")
          img.logo(src="assets/img/home-1/trangmat.svg", alt="")  
          
    .col-lg-3.col-6.col-sm-4
      a(href="#")
        .home-service-wrap
          .home-service-img
            img.main-img(src="assets/img/home-1/service_8.png", alt="")
            .img-overlay  
              p.red-color.mt-5 WEDDING PLANNER
        
          img.circle(src="assets/img/home-1/circle-lace.png", alt="")
          img.logo(src="assets/img/home-1/nhancuoi.svg", alt="")  
  
          
  img.just-marry(src="assets/img/home-1/just-marry.png", alt="")      
    
