section.home-gallery-carousel-main-content
  h4.red-color.mb-4.ml-3 ẢNH CƯỚI ĐẸP
  .row
    .col-lg-12
      .owl-carousel.owl-theme.owl-un-nav-dots.owl-carousel-home-gallery
        .carousel-gallery-wrap(data-hash="zero")
          img(src="assets/img/home-1/gallery_1.png", alt="")
          .carousel-gallery-title
            a(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
            small.day.mt-2 27. 07. 2018
              span.views.ml-2 | 1121 lượt xem  
              
        .carousel-gallery-wrap
          img(src="assets/img/home-1/gallery_1.png", alt="")
          .carousel-gallery-title(data-hash="one")
            a(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
            small.day.mt-2 27. 07. 2018
              span.views.ml-2 | 1121 lượt xem  
              
        .carousel-gallery-wrap
            img(src="assets/img/home-1/gallery_1.png", alt="")
            .carousel-gallery-title(data-hash="two")
              a(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
              small.day.mt-2 27. 07. 2018
                span.views.ml-2 | 1121 lượt xem  
                
        .carousel-gallery-wrap
            img(src="assets/img/home-1/gallery_1.png", alt="")
            .carousel-gallery-title(data-hash="three")
              a(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH
              small.day.mt-2 27. 07. 2018
                span.views.ml-2 | 1121 lượt xem  
        
    .col-lg-12.mt-3
      .row
        .col-lg-3.col-md-3.col-3
          a(href="#zero"): img.hash(src="assets/img/home-1/gallery_2.png", alt="")
        .col-lg-3.col-md-3.col-3
          a(href="#one"): img.hash(src="assets/img/home-1/gallery_3.png", alt="")
        .col-lg-3.col-md-3.col-3
          a(href="#two"): img.hash(src="assets/img/home-1/gallery_4.png", alt="")
        .col-lg-3.col-md-3.col-3
          a(href="#three"): img.hash(src="assets/img/home-1/gallery_5.png", alt="")
    

        
