section.home-main-content-carousel.home-collection-main-content
  
  .home-collection-title.mb-5
    h4.red-color.mb-3 BỘ SƯU TẬP CƯỚI
    ul.ul-unstyle
      li: a(href="#") ÁO DÀI CƯỚI
      li: a(href="#") ÁO VEST
      li: a(href="#") KIỂU KHÁC
      li.dropdown
        a#navbarCollection.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')   XEM THÊM 
        .dropdown-menu(aria-labelledby='navbarCollection')
          a.dropdown-item(href='#').text-uppercase Kiểu khác
          |       
          a.dropdown-item(href='#').text-uppercase  áo vest 
          |       
          a.dropdown-item(href='#').text-uppercase  áo dài cưới

      
    
  .carousel-wrap
    .carousel-wrap-img
      img(src="assets/img/home-1/home-showcase.png", alt="")
    a.title.mt-3(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH    
    small.day.mt-2 27. 07. 2018
      span.views.ml-2 | 1121 lượt xem
    p.mt-2 Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì... 
      
    
  .media
    .row
      .col-md-6
        .media-wrap
          img(src="assets/img/home-1/showcase-1.png", alt="")    
          .media-title
            small.clothes.text-uppercase ao vest
            a(href="#") VÁY CƯỚI NGẮN BỒNG BỀNH CHO NÀNG TIỂU THƯ

              
      .col-md-6
        .media-wrap
          img(src="assets/img/home-1/showcase-2.png", alt="")    
          .media-title
            small.clothes.text-uppercase ao lệch vai
            a(href="#") VÁY CƯỚI NGẮN BỒNG BỀNH CHO NÀNG TIỂU THƯ


      .col-md-6
        .media-wrap
          img(src="assets/img/home-1/showcase-3.png", alt="")    
          .media-title
            small.clothes.text-uppercase ao đuôi cá
            a(href="#") VÁY CƯỚI NGẮN BỒNG BỀNH CHO NÀNG TIỂU THƯ

              
      .col-md-6
        .media-wrap
          img(src="assets/img/home-1/showcase-4.png", alt="")    
          .media-title
            small.clothes.text-uppercase kiểu khác
            a(href="#") VÁY CƯỚI NGẮN BỒNG BỀNH CHO NÀNG TIỂU THƯ
  a(href="#").text-uppercase.text-center.view-all xem tất cả      
          
