section.home-promotion-main-content
  h4.red-color.mb-5 KHUYẾN MÃI CƯỚI
  .row
    .col-lg-3.col-sm-4.col-6
      .home-promotion-wrap
        img(src="assets/img/home-1/promotion_1.png", alt="")
        a(href="#") DIAMOND PLACE II - NƠI TÌNH YÊU THĂNG HOADREAM
        
    .col-lg-3.col-sm-4.col-6
      .home-promotion-wrap
        img(src="assets/img/home-1/promotion_2.png", alt="")
        a(href="#") BÙNG NỔ KHUYẾN MÃI "KHỦNG" DÀNH CHO TIỆC CƯỚI MÙA HÈ
        
    .col-lg-3.col-sm-4.col-6
      .home-promotion-wrap
        img(src="assets/img/home-1/promotion_3.png", alt="")
        a(href="#") TOP 4 NHÀ HÀNG ƯU ĐÃI TỐT NHẤT NĂM 2017
        
    .col-lg-3.col-sm-4.col-6
      .home-promotion-wrap
        img(src="assets/img/home-1/promotion_4.png", alt="")
        a(href="#") TOP 4 NHÀ HÀNG CÓ PHONG CÁCH ẤN TƯỢNG NHẤT NĂM 2017
        
    .col-lg-3.col-sm-4.col-6
      .home-promotion-wrap
        img(src="assets/img/home-1/promotion_5.png", alt="")
        a(href="#") ĐƯA THIÊN NHIÊN VÀO TRONG ĐÁM CƯỚI TẠI CAPELLA GALLERY HALL
        
    .col-lg-3.col-sm-4.col-6
      .home-promotion-wrap
        img(src="assets/img/home-1/promotion_6.png", alt="")
        a(href="#") ĐẦU TIÊN VÀ DUY NHẤT TẠI METROPOLE - HOÀN TIỀN 50%ING
        
    .col-lg-3.col-sm-4.col-6
      .home-promotion-wrap
        img(src="assets/img/home-1/promotion_7.png", alt="")
        a(href="#") TRẢI NGHIỆM CHẤT LƯỢNG DỊCH VỤ TẠI METROPOLE VỚI " TIỆC THỬ MÓN "
          
    .col-lg-3.col-sm-4.col-6
      .home-promotion-wrap
        img(src="assets/img/home-1/promotion_8.png", alt="")
        a(href="#") ƯU ĐÃI GÓI CHỤP ẢNH CƯỚI LÊN ĐẾN 40%
  
  a(href="#").text-uppercase.text-center.view-all xem tất cả      
