section.home-main-content-carousel
  
  .owl-carousel.owl-theme.owl-carousel-main-content-1
    .item
      .carousel-wrap
        .carousel-wrap-img
          img(src="assets/img/home-1/home-showcase.png", alt="")
        a.title.mt-3(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH    
        small.day.mt-2 27. 07. 2018
          span.views.ml-2 | 1121 lượt xem
        p.mt-2 Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì... 
    .item  
      .carousel-wrap
        .carousel-wrap-img
          img(src="assets/img/home-1/home-showcase.png", alt="")
        a.title.mt-3(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH    
        small.day.mt-2 27. 07. 2018
          span.views.ml-2 | 1121 lượt xem
        p.mt-2 Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì...  

    .item
      .carousel-wrap
        .carousel-wrap-img
          img(src="assets/img/home-1/home-showcase.png", alt="")
        a.title.mt-3(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH    
        small.day.mt-2 27. 07. 2018
          span.views.ml-2 | 1121 lượt xem
        p.mt-2 Giữa Sài Gòn tấp nập có một địa điểm tổ chức tiệc cưới không gian rộng bao la, sân cỏ xanh bát ngát như Him Lam Palace Tân Sơn Nhất thì cần gì...  

  .media
    .row
      .col-md-6
        .media-wrap
          img(src="assets/img/home-1/showcase-1.png", alt="")    
          .media-title
            a(href="#") BANKS’ INCENTIVES FOR FIRST-HOME
            small.day.mt-2 June 27, 2017
              span.views.ml-2 | 1121 lượt xem
              
      .col-md-6
        .media-wrap
          img(src="assets/img/home-1/showcase-2.png", alt="")    
          .media-title
            a(href="#") NEW DISCOUNT PLAYER MUSCLES INTO AUSSIE SPORTS RETAIL
            small.day.mt-2 27. 07. 2018
              span.views.ml-2 | 1121 lượt xem

      .col-md-6
        .media-wrap
          img(src="assets/img/home-1/showcase-3.png", alt="")    
          .media-title
            a(href="#") WEIRD REASON MISSING CARGO SHIP STELLAR DAISY
            small.day.mt-2 27. 07. 2018
              span.views.ml-2 | 1121 lượt xem
              
      .col-md-6
        .media-wrap
          img(src="assets/img/home-1/showcase-4.png", alt="")    
          .media-title
            a(href="#") HOW BIG TOBACCO HOOKS MILLENNIALS
            small.day.mt-2 27. 07. 2018
              span.views.ml-2 | 1121 lượt xem
  
  img.just-marry(src="assets/img/home-1/just-marry.png", alt="")            
