section.home-main-content
  include home-main-content-carousel.jade
  include home-service-main-content.jade
  include home-promotion-main-content.jade
  include home-collection-main-content.jade
  include home-idea-main-content.jade  
  include home-video-main-content.jade  
  include home-gallery-carousel-main-content.jade  
  
  
  
  
  
  
  
