section.slider
  
  img.ren(src="assets/img/home-1/ren4.svg", alt="")
  img.ren.ren-bottom(src="assets/img/home-1/ren4.svg", alt="")
    
  .owl-carousel.owl-theme.owl-carousel-slider
    .slider-wrap
      .slider-wrap-content
        img(src="assets/img/home-1/home-carousel-1.png", alt="")
        .slider-title
          p.text-center CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH  
    
    .slider-wrap
      .slider-wrap-content
        img(src="assets/img/home-1/home-carousel-1.png", alt="")    
        .slider-title
          p.text-center CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH    
