section.sidebar
  
  .postlist-nav 
    h4.red-color.mb-4 DANH MỤC
    ul.ul-unstyle
      li
        a(href="#")
          img(src="assets/img/home-1/xuhuongcuoi.svg", alt="")
          span TẤT CẢ
      li
        a(href="#")
          img(src="assets/img/home-1/nhahangtieccuoi.svg", alt="")
          span NHÀ HÀNG TIỆC CƯỚI
      li
        a(href="#")
          img(src="assets/img/home-1/studio.svg", alt="")
          span STUDIO 
      li
        a(href="#")
          img(src="assets/img/home-1/nhancuoi.svg", alt="")
          span TRANG SỨC CƯỚI
      li
        a(href="#")
          img(src="assets/img/home-1/thiepcuoi.svg", alt="")
          span THIỆP CƯỚI
      li
        a(href="#")
          img(src="assets/img/home-1/weddingplanner.svg", alt="")
          span WEDDING PLANNER
      li
        a(href="#")
          img(src="assets/img/home-1/trangmat.svg", alt="")
          span TRĂNG MẬT
      li
        a(href="#")
          img(src="assets/img/home-1/quacuoi.svg", alt="")
          span QUÀ CƯỚI
      li
        a(href="#")
          img(src="assets/img/home-1/hoacuoi.svg", alt="")
          span HOA CƯỚI
        
  
  .ads.d-lg-block.d-none
    img(src="assets/img/sidebar/ads-1.png", alt="")
    img(src="assets/img/sidebar/ads-2.png", alt="")
    img(src="assets/img/sidebar/ads-3.png", alt="")
    img(src="assets/img/sidebar/ads-4.png", alt="")
    img(src="assets/img/sidebar/ads-5.png", alt="")
  
  .top-news
    h4.red-color.mb-5.mt-5 TIN NHIỀU LƯỢT XEM
    
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_1.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1
            
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_2.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1
          
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_3.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1
    
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_4.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1
    
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_5.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1
    
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_3.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1     
          
    a.view-all.mt-3(href="#").text-right.text-uppercase xem tat ca     
    
    //- NEWS-SHARE
    |
    |          
          
  .top-news.news-share
    h4.red-color.mb-5.mt-5 GÓC CHIA SẺ
    
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_1.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1
            
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_2.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1
          
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_3.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1
    
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_4.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1
    
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_5.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1
    
    .top-new-wraps
      img.mr-3(src="assets/img/sidebar/popular_3.png", alt="")    
      .news-title
        a.mb-2(href="#") 6 Ý TƯỞNG CHỤP ẢNH CƯỚI KHÔNG ĐỤNG HÀNG
        span.mr-4 27
          i.fa.fa-heart.ml-1
        span 112 
          i.fa.fa-comments.ml-1      
  
    a.view-all.mt-3(href="#").text-right.text-uppercase xem tat ca      
    
  //- TAG
  
  .tags
    h4.red-color.mb-4 TỪ KHÓA TÌM KIẾM 
    a.tag(href="#").text-uppercase áo cưới 
    a.tag(href="#").text-uppercase chụp ảnh cưới   
    a.tag(href="#").text-uppercase phụ kiện  
    a.tag(href="#").text-uppercase tổ chức tiệc   
    a.tag(href="#").text-uppercase khuyến mãi
    a.tag(href="#").text-uppercase góc chia sẽ   
    a.tag(href="#").text-uppercase địa điểm cưới    
    a.tag(href="#").text-uppercase ý tưởng 
    a.tag(href="#").text-uppercase quà cưới 
    a.tag(href="#").text-uppercase video   
    a.tag(href="#").text-uppercase nghi thức 
       
