include jadefiles/global/head.jade
|
|
body.home-index-2
  |
  |
  .home-wrap
    include jadefiles/home-1/header.jade
    include jadefiles/home-1/slider.jade
    
    .home-sections
      include jadefiles/home-1/home-search.jade
      include jadefiles/login/login-content.jade
      
      
      include jadefiles/home-1/footer.jade
      
  
    
  |        
  |
  |      
  //- div(style="height: 1000px")  
  |
  |
  include jadefiles/global/footer.jade
