// Add Script Area
script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
script(src="assets/js/bootstrap/popper.min.js")
script(src="assets/js/bootstrap/bootstrap.min.js")
script(src='assets/js/nice-select/jquery.nice-select.min.js')
script(src='assets/js/nice-select/nice-select.js')
script(src='assets/js/chosen-js/chosen.jquery.min.js')
script(src='assets/js/jquery-easing/jquery.easing.1.3.js')
script(src='assets/js/WOW/wow.min.js')
script(src='assets/js/owl-carousel/owl.carousel.min.js')
script(src='assets/js/countdown/jquery.countdown.min.js')
script(src='assets/js/filter-gallery/jquery.filterizr.min.js')
script(src='assets/js/lightbox/jquery.magnific-popup.min.js')
script(src='assets/js/hover-direction/jquery.hoverdir.js')
script(src='assets/js/mmenu/jquery.mmenu.all.js')
  
script(src="assets/js/functions.js")
