input(type="text" placeholder="Lọc ngành nghề...").nice-select-filter
select.form-control(name='location', data-placeholder='Tất cả địa điểm', style='width:100%;', tabindex='2')
  option(value='0') T&#x1EA5;t C&#x1EA3; &Dstrok;&#x1ECB;a &Dstrok;i&#x1EC3;m
  |                                                                                                                                 
  option(value='47') An Giang
  |                                                                                     
  option(value='20') B&agrave; R&#x1ECB;a - V&utilde;ng T&agrave;u
  |                                                                                     
  option(value='62') B&#x1EA1;c Li&ecirc;u
  |                                                                                     
  option(value='25') B&#x1EAF;c Giang
  |                                                                                     
  option(value='54') B&#x1EAF;c K&#x1EA1;n
  |                                                                                     
  option(value='8') B&#x1EAF;c Ninh
  |                                                                                     
  option(value='50') B&#x1EBF;n Tre
  |                                                                                     
  option(value='4') B&igrave;nh D&#x1B0;&#x1A1;ng
  |                                                                                     
  option(value='43') B&igrave;nh &Dstrok;&#x1ECB;nh
  |                                                                                     
  option(value='58') B&igrave;nh Ph&#x1B0;&#x1EDB;c
  |                                                                                     
  option(value='33') B&igrave;nh Thu&#x1EAD;n
  |                                                                                     
  option(value='60') C&agrave; Mau
  |                                                                                     
  option(value='57') Cao B&#x1EB1;ng
  |                                                                                     
  option(value='46') C&#x1EA7;n Th&#x1A1;
  |                                                                                     
  option(value='2') &Dstrok;&agrave; N&#x1EB5;ng
  |                                                                                     
  option(value='65') &Dstrok;&#x1EAF;k L&#x1EAF;k
  |                                                                                     
  option(value='59') &Dstrok;&#x1EAF;k N&ocirc;ng
  |                                                                                     
  option(value='56') &Dstrok;i&#x1EC7;n Bi&ecirc;n
  |                                                                                     
  option(value='5') &Dstrok;&#x1ED3;ng Nai
  |                                                                                     
  option(value='49') &Dstrok;&#x1ED3;ng Th&aacute;p
  |                                                                                     
  option(value='11') Gia Lai
  |                                                                                     
  option(value='67') H&agrave; Giang
  |                                                                                     
  option(value='42') H&agrave; Nam
  |                                                                                     
  option(value='3') H&agrave; N&#x1ED9;i
  |                                                                                     
  option(value='64') H&agrave; T&itilde;nh
  |                                                                                     
  option(value='16') H&#x1EA3;i D&#x1B0;&#x1A1;ng
  |                                                                                     
  option(value='24') H&#x1EA3;i Ph&ograve;ng
  |                                                                                     
  option(value='34') H&#x1EAD;u Giang
  |                                                                                     
  option(value='26') H&ograve;a B&igrave;nh
  |                                                                                     
  option(value='7') H&#x1B0;ng Y&ecirc;n
  |                                                                                     
  option(value='61') Ki&ecirc;n Giang
  |                                                                                     
  option(value='71') Kon Tum
  |                                                                                     
  option(value='23') Kh&aacute;nh H&ograve;a
  |                                                                                     
  option(value='55') Lai Ch&acirc;u
  |                                                                                     
  option(value='38') L&#x1EA1;ng S&#x1A1;n
  |                                                                                     
  option(value='48') L&agrave;o Cai
  |                                                                                     
  option(value='69') L&acirc;m &Dstrok;&#x1ED3;ng
  |                                                                                     
  option(value='6') Long An
  |                                                                                     
  option(value='36') Nam &Dstrok;&#x1ECB;nh
  |                                                                                     
  option(value='37') Ninh B&igrave;nh
  |                                                                                     
  option(value='19') Ninh Thu&#x1EAD;n
  |                                                                                     
  option(value='40') Ngh&#x1EC7; An
  |                                                                                     
  option(value='39') Ph&uacute; Th&#x1ECD;
  |                                                                                     
  option(value='51') Ph&uacute; Y&ecirc;n
  |                                                                                     
  option(value='68') Qu&#x1EA3;ng B&igrave;nh
  |                                                                                     
  option(value='28') Qu&#x1EA3;ng Nam
  |                                                                                     
  option(value='41') Qu&#x1EA3;ng Ninh
  |                                                                                     
  option(value='27') Qu&#x1EA3;ng Ng&atilde;i
  |                                                                                     
  option(value='66') Qu&#x1EA3;ng Tr&#x1ECB;
  |                                                                                     
  option(value='10') S&oacute;c Tr&abreve;ng
  |                                                                                     
  option(value='53') S&#x1A1;n La
  |                                                                                     
  option(value='9') T&acirc;y Ninh
  |                                                                                     
  option(value='32') Ti&#x1EC1;n Giang
  |                                                                                     
  option(value='1') TP. H&#x1ED3; Ch&iacute; Minh
  |                                                                                     
  option(value='45') Tuy&ecirc;n Quang
  |                                                                                     
  option(value='18') Th&aacute;i B&igrave;nh
  |                                                                                     
  option(value='17') Th&aacute;i Nguy&ecirc;n
  |                                                                                     
  option(value='31') Thanh H&oacute;a
  |                                                                                     
  option(value='29') Th&#x1EEB;a Thi&ecirc;n Hu&#x1EBF;
  |                                                                                     
  option(value='63') Tr&agrave; Vinh
  |                                                                                     
  option(value='35') V&itilde;nh Long
  |                                                                                     
  option(value='30') V&itilde;nh Ph&uacute;c
  |                                                                                     
  option(value='44') Y&ecirc;n B&aacute;i
