section.service-content(style="padding-top: 50px;")
  .container
    .row
      .col-md-12.col-lg-8
        include service-main-content.jade
      .col-md-12.col-lg-4     
        include ../sidebar.jade
