section.service-main-content.home-main-content-carousel
  .owl-carousel.owl-theme.owl-carousel-main-content-1
    
    .carousel-wrap
      .carousel-wrap-img
        img(src="assets/img/home-1/home-showcase.png", alt="")
      a.title.mt-3(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH    
      span.price.red-color.mt-2 6,000,000VDN 
        span.table.text-uppercase  / bàn
      p.mt-2 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM  

      
    .carousel-wrap
      .carousel-wrap-img
        img(src="assets/img/home-1/home-showcase.png", alt="")
      a.title.mt-3(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH    
      span.price.red-color.mt-2 6,000,000VDN 
        span.table.text-uppercase  / bàn
      p.mt-2 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM  



    .carousel-wrap
      .carousel-wrap-img
        img(src="assets/img/home-1/home-showcase.png", alt="")
      a.title.mt-3(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH    
      span.price.red-color.mt-2 6,000,000VDN 
        span.table.text-uppercase  / bàn
      p.mt-2 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM  
  
  img.just-marry(src="assets/img/home-1/just-marry.png", alt="")     
  
  .row
    .col-lg-6.col-md-12
      .media-object
        img(src="assets/img/service/promotion_1.png", alt="")
        p.title-img THIỆP CƯỚI
        a.title.mt-1(href="#") TRUNG TÂM TIỆC CƯỚI HỘI NGHỊ HAI LÚA   
        span.price.red-color.mt-2 6,000,000VDN 
          span.table.text-uppercase  / bàn
        p.mt-2.address 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM  
          
    .col-lg-6.col-md-12      
      .media-object
        img(src="assets/img/service/promotion_2.png", alt="")
        p.title-img WEDDING PLANNER
        a.title.mt-1(href="#") WEDDINGSTYLE
        span.price.red-color.mt-2 6,000,000VDN 
          span.table.text-uppercase  / bàn
        p.mt-2.address 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM   
        
    .col-lg-6.col-md-12      
      .media-object
        img(src="assets/img/service/promotion_3.png", alt="")
        p.title-img TRĂNG MẬT
        a.title.mt-1(href="#") LOCO RESORT
        span.price.red-color.mt-2 6,000,000VDN 
          span.table.text-uppercase  / bàn
        p.mt-2.address 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM   
        
    .col-lg-6.col-md-12      
      .media-object
        img(src="assets/img/service/promotion_4.png", alt="")
        p.title-img TRANG SỨC CƯỚI
        a.title.mt-1(href="#") HẢI YẾN JEWELRY
        span.price.red-color.mt-2 6,000,000VDN 
          span.table.text-uppercase  / bàn
        p.mt-2.address 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM   
        
    .col-lg-6.col-md-12      
      .media-object
        img(src="assets/img/service/promotion_5.png", alt="")
        p.title-img HOA CƯỚI
        a.title.mt-1(href="#") HOA CƯỚI CASALANA
        span.price.red-color.mt-2 6,000,000VDN 
          span.table.text-uppercase  / bàn
        p.mt-2.address 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM   
        
    .col-lg-6.col-md-12      
      .media-object
        img(src="assets/img/service/promotion_6.png", alt="")
        p.title-img NHÀ HÀNG TIỆC CƯỚI
        a.title.mt-1(href="#") NHÀ HÀNG TIỆC CƯỚI HOÀNG LAN
        span.price.red-color.mt-2 6,000,000VDN 
          span.table.text-uppercase  / bàn
        p.mt-2.address 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM   
        
    .col-lg-6.col-md-12      
      .media-object
        img(src="assets/img/service/promotion_7.png", alt="")
        p.title-img TRANG SỨC CƯỚI
        a.title.mt-1(href="#") THU LAN JEWELRY
        span.price.red-color.mt-2 6,000,000VDN 
          span.table.text-uppercase  / bàn
        p.mt-2.address 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM   
        
    .col-lg-6.col-md-12      
      .media-object
        img(src="assets/img/service/promotion_8.png", alt="")
        p.title-img TRANG SỨC CƯỚI
        a.title.mt-1(href="#") CẦN GÌ ĐI ĐÂU XA, NGAY SÀI GÒN CŨNG CÓ ĐỊA ĐIỂM TỔ CHỨC CƯỚI ĐẸP NHƯ NGÔN TÌNH    
        span.price.red-color.mt-2 6,000,000VDN 
          span.table.text-uppercase  / bàn
        p.mt-2.address 6/10 Cách Mạng Tháng Tám, Bến Thành, Quận 1, HCM   
        
    .col-lg-4
      nav(aria-label='Page navigation example')
      ul.pagination
        li.page-item
          a.page-link(href='#', aria-label='Previous')
            span(aria-hidden='true') &laquo;
            |         
            span.sr-only Previous
        |     
        li.page-item
          a.page-link(href='#') 1
        |     
        li.page-item
          a.page-link(href='#') 2
        |     
        li.page-item
          a.page-link(href='#') 3
        |     
        li.page-item
          a.page-link(href='#', aria-label='Next')
            span(aria-hidden='true') &raquo;
            |         
            span.sr-only Next

             
