section.login-content
  .container
    .row
      .col-lg-3
        
        .login-sidebar.mb-3
          
          .avatar
            img(src="assets/img/login/avatar.png", alt="")
            a(href="#")
              i.fa.fa-camera: span.ml-2 Thay đổi ảnh đại diện  
              
          ul.list-group.list-group-flush
            li.list-group-item 
              i.pe-7s-id
              a(href="#") Thông tin nhà cung cấp
            |         
            li.list-group-item 
              i.pe-7s-door-lock
              a(href="#") Đổi mật khẩu
            |         
            li.list-group-item 
              i.pe-7s-note2
              a(href="#") Quản lý album ảnh
            |         
            li.list-group-item
              i.pe-7s-photo
              a(href="#") Album ảnh
            |         
            li.list-group-item 
              i.pe-7s-note2
              a(href="#") Quản lý tin khuyến mãi
              
            li.list-group-item 
              i.pe-7s-news-paper
              a(href="#") Nhận báo giá
            |         
            li.list-group-item
              i.pe-7s-cash
              a(href="#") Nhận báo giá
            |         
            li.list-group-item 
              i.pe-7s-search
              a(href="#") Xem gian hàng

          
      .col-lg-9 
        .login-main-content
          .row
            .col-lg-12
              h4.red-color.text-center.information THÔNG TIN GIAN HÀNG
            .col-lg-12  
              form
                .container
                  .row
                    .col-lg-6 
                      .form-group
                        label(for='exampleInputEmail1') Tên thương hiệu
                        |     
                        input.form-control(type='text', placeholder='Moc Thanh Studio')
                        |     
                      |   
                      .form-group
                        label(for='exampleInputPassword1') Chọn khu vực
                        |     
                        select.form-control.mb-3
      
                          option Thu Duc
                          |     
                          option Binh THanh
                          |     
                          option Sai Gon
                          |     
                          option Quan 1
                          |     
                          option Quan 12
                        |
                      |    
                      .form-group
                        label(for='exampleInputPassword1') Địa chỉ
                        |     
                        input.form-control(type='text', placeholder='')
                          
                      .form-group
                        label(for='exampleInputPassword1') Địa chỉ khác
                        |     
                        input.form-control(type='text', placeholder='')
                          
                      .form-group
                        label(for='exampleInputPassword1') Facebook
                        |     
                        input.form-control(type='text', placeholder='')
                          
                          
                          
                    .col-lg-6 
                      .form-group
                        label(for='exampleInputEmail1') Email đăng nhập
                        |     
                        input.form-control(type='email', placeholder='Enter email')
                        |     
                      .form-group
                        label(for='exampleInputPassword1') Website
                        |     
                        input.form-control(type='text', placeholder='google.com')
                          
                      .form-group
                        label(for='exampleInputEmail1') Email liên hệ
                        |     
                        input.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter email')
                        |     
                      .form-group
                        label(for='exampleInputPassword1') Số điện thoại
                        |     
                        input.form-control(type='text', placeholder='')
                          
                      .form-group
                        label(for='exampleInputPassword1') Google
                        |     
                        input.form-control(type='text', placeholder='')
                                          
                  .form-group
                    label(for='exampleFormControlTextarea1') Giới thiệu ngắn
                    |    
                    textarea.form-control(rows='3')
                    small.form-text.text-muted Giới thiệu ngắn tốt nhất khoảng 100 từ.

                      
                  .form-group
                    label(for='exampleFormControlTextarea1') Giới thiệu
                    |    
                    textarea.form-control(rows='3')
                    small.form-text.text-muted Giới thiệu tốt nhất khoảng 300 từ.
                    
                    
        .img-load
          .row
            .col-lg-12
              h4.red-color.text-center HÌNH ẢNH GIỚI THIỆU GIAN HÀNG
              
            .col-lg-12
              small.text-center.introduction: i HÌNH ẢNH GIỚI THIỆU GIAN HÀNG
              
            .col-lg-3.col-md-3.col-3
              a(href="#"): img(src="assets/img/login/account_1.png", alt="")
                
            .col-lg-3.col-md-3.col-3
              img(src="assets/img/login/account_2.png", alt="")
            
            .col-lg-3.col-md-3.col-3 
              img(src="assets/img/login/account_3.png", alt="")
            
            .col-lg-3.col-md-3.col-3 
              img(src="assets/img/login/account_4.png", alt="")
            
            .col-lg-3.col-md-3.col-3  
              img(src="assets/img/login/account_5.png", alt="")
            
            .col-lg-3.col-md-3.col-3 
              img(src="assets/img/login/account_6.png", alt="")
            
  .col-lg-12.submit
    p.mr-4 ( Hủy chỉnh sửa )
    button(type="submit", ).btn.btn-outline-light.btn-submit.text-uppercase lưu cập nhật      
    

             
                  
                        
                    
